#octaveSelector {
}

.octaveWrapper {
  display: flex;
  flex-direction: column;
  font-size: medium;
  align-items: center;
  justify-content: center;
  padding-left: 12px;
  padding-right: 12px;
  border: 2px solid #999;
  border-radius: 10px;
  flex-grow: 1;
  margin-right: 6px;
}
