label {
  font-style: italic;
}

.oscillator {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-bottom: 12px;
  margin-top: 12px;
  border: 2px solid #999;
  border-radius: 10px;
}

.oscSelector {
  flex-grow: 1;
  /*background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-style: italic;
  padding-right: 12px;*/
}
